
$font-main: "Fira Sans", "Helvetica","Arial", sans-serif;

$color-primary: #db8800;
$color-primary-light: #ff9d36;
$color-secondary: #5A5751;
$color-tertiary: #526cd0;

$color-text: #696b79;
$color-text-light: #999;
$color-text-dark: #282c3f;

$color-bg-btn: #666465;

$color-black: #000;
$color-white: #fff;

$color-border: #e9e9ed;
$color-border-alt: #eaeaec;

$color-bg-footer-full: #f9fbfc;
$color-bg-footer: rgba(245, 248, 250, 0.59);
$color-bg-search: #f5f5f6;
