html,
body {
    overflow-x: hidden;
    font-size: 12px;
    margin: 0;
    padding: 0;
    @include atSmall {
        font-size: 14px;
    }
    @include atMedium {
        font-size: 15px;
    }
    @include atLarge {
        font-size: 16px;
    }
}

* {
    box-sizing: border-box;
}

main {
    margin-top: 63px;
    @include atSmall {
        margin-top: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}

textarea,
input,
button {
    border: none;
    &:focus {
        outline: none;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}