.filters {
    &__group {
        & + & {
            border-top: 1px solid $color-border;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        & + & {
            margin-top: 5px;
        }
    }
    &__checkbox {
        margin-right: 5px;
    }
}