{% extends "base.html" %}

{% block body %}
<div class="container">
    <section class="section-banner">
        <a href="#" class="u-margin-bottom-small banner__img-wrapper">
            <img src="{{ site_base }}/static/images/banner.png" alt="Banner" class="banner__img u-hidden-xs">
            <img src="{{ site_base }}/static/images/banner-mobile.jpg" alt="Banner" class="banner__img u-visible-xs">
        </a>
    </section>
    <section class="section-promos">
        <div class="section-promos__group">
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-1.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-2.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-3.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
        </div>
        <div class="section-promos__group">
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-4.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-5.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-6.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
        </div>
        <div class="section-promos__group">
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-7.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-8.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
            <article class="promo-box section-promos__box">
                <a href="#" class="promo-box__content">
                    <img src="{{ site_base }}/static/images/promo-9.jpg" alt="Artículo" class="promo-box__img">
                </a>
            </article>
        </div>
    </section>
</div>
<div class="container">
    <section class="u-padding-bottom-med u-padding-top-med section-intro">
        <div class="u-padding-top-med section-intro__header">
            <div class="u-margin-bottom-smaller section-intro__header-text-wrapper">
                <h3 class="text text--color-dark text--uppercase section-intro__header-text">PLACARE.COM - UNA NUEVA EXPERIENCIA ONLINE EN COMPRA DE ZAPATOS</h3>
            </div>
            <div class="section-intro__content">
                <p class="text text--light section-intro__content-text">Placare.com llega con una nueva propuesta cuyo fin es entregar una nueva y única experiencia en compra
                    de zapatos por Internet de forma fácil, rápida y en cualquier momento. Placare.com se basa en
                    el descubrimiento inteligente de productos nuevos, tendencias, texturas y colores a través de
                    su plataforma que entrega respuestas rápidas y precisas a las consultas realizadas por nuestros
                    clientes. La oferta de Placare abarca todo tipo de zapatos para mujer, hombre, y también accesorios,
                    entregando una propuesta variada que se ajusta a todos nuestros clientes. Invitamos a todas y
                    todos, a descubrir en Placare.com las colecciones de Eda Manzini, Lola Canales, Degas, Cocomate,
                    Manzini entre otras, ya que “lo que te falta” puede estar solo a un par de clicks.</p>
            </div>
        </div>
    </section>
</div>
{% end %}
