<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
<article class="product-box section-products__item product-list-loader">
    <a href="#" class="product-box__content">
        <div class="product-box__tag text text--color-white text--weight-med">Sale</div>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product-box__img">
        <div class="product-box__copy">
            <h3 class="text text--small text--color-dark text--weight-med">__</h3>
            <h3 class="text text--smaller text--color-dark text--nobreak">__</h3>
            <div class="product-box__prices">
                <p class="text text--smaller text--color-dark text--weight-med">__</p>
                <p class="text text--crossline text--smaller">__</p>
                <p class="text text--color-red text--smaller text--color-dark">(%)</p>
            </div>
        </div>
        <div class="product-box__btn text text--weight-med text--color-tertiary text--small">COMPRAR</div>
    </a>
</article>
