<div class="u-margin-top-small product product-loader">
    <div class="product__media">
        <div class="product__media-content">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__img">
            <ul class="product__media-list">
                <li class="product__media-list__item product__media-list__item--active">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
                <li class="product__media-list__item">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
                <li class="product__media-list__item">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
                <li class="product__media-list__item">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
                <li class="product__media-list__item">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
                <li class="product__media-list__item">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen del producto" class="product__media-list__item-img">
                </li>
            </ul>
        </div>
        <h4 class="u-padding-vertical-small product__sku text text--smaller">SKU Producto  :  EX-E051-S18-MET-SAN-CAS-T10</h4>
    </div>
    <div class="product__info">
        <div class="u-padding-bottom-med product__intro">
            <h1 class="text text--big text--weight-med">________</h1>
            <h2 class="text text--small text--weight-med">_________</h2>
            <div class="product-box__prices product-box__prices--alignstart">
                <p class="text text--crossline">000000</p>
                <p class="text text--color-red text--big">(0% OFF)</p>
            </div>
            <p class="text text--big text--color-dark text--weight-med"></p>
        </div>
        <div class="u-padding-vertical-small product__size">
            <div class="product__size-header">
                <h3 class="text text--color-dark text--weight-med">SELECCIONAR UNA TALLA</h3>
                <h3 class="text text--color-tertiary open-popup" data-popup="sizes">No sabes tu talla?</h3>
            </div>
            <div class="u-padding-vertical-small product__size-list">
                <li class="product__size-list__item">35</li>
                <li class="product__size-list__item">36</li>
                <li class="product__size-list__item">37</li>
                <li class="product__size-list__item">38</li>
                <li class="product__size-list__item">39</li>
                <li class="product__size-list__item">40</li>
            </div>
            <div class="product__size-btns">
                <button class="btn btn--text-small btn--round btn--half">AGREGAR AL CARRO <i class="fa fa-shopping-cart btn__icon"></i></button>
                <button class="btn btn--text-small btn--round btn--half btn--secondary">COMPRAR AHORA <i class="fa fa-angle-right btn__icon btn__icon--big"></i></button>
            </div>
        </div>
        <div class="product__description">
            <h4 class="u-padding-top-small u-padding-bottom-smaller text text--weight-med">Descripción del producto</h4>
            <p class="text text--small text--color-light text--light">
                __________
            </p>
            <h4 class="u-padding-top-small u-padding-bottom-smaller text text--color-tertiary text--weight-med">Opciones de compra</h4>
            <p class="text text--small text--color-light text--light">Envíos a todo Chile mediante Chilexpress / Correos de Chile.
                <br>Cambios y Devoluciones Gratis.
                <br>15 días para cambios / Garantía de Satisfacción.
                <br>Pago mediante Webpay (Tarjeta Débito / Crédito) o Transferencia Electrónica.
            </p>
        </div>
    </div>
</div>
