/*
IMPORTANT: main css file generator this is all css should be loaded last
*/
.text {
  color: #696b79;
  font-weight: 400;
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.167rem;
  line-height: 1.667rem; }
  .text:link, .text:hover, .text:active, .text:visited {
    color: #696b79;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .text {
      font-size: 0.875rem;
      line-height: 1.25rem; } }
  .text--color-dark {
    color: #282c3f; }
    .text--color-dark:link, .text--color-dark:hover, .text--color-dark:active, .text--color-dark:visited {
      color: #282c3f;
      text-decoration: none; }
  .text--color-light {
    color: #999; }
    .text--color-light:link, .text--color-light:hover, .text--color-light:active, .text--color-light:visited {
      color: #999;
      text-decoration: none; }
  .text--color-white {
    color: #fff; }
    .text--color-white:link, .text--color-white:hover, .text--color-white:active, .text--color-white:visited {
      color: #fff;
      text-decoration: none; }
  .text--color-tertiary {
    color: #526cd0; }
    .text--color-tertiary:link, .text--color-tertiary:hover, .text--color-tertiary:active, .text--color-tertiary:visited {
      color: #526cd0;
      text-decoration: none; }
  .text--color-red {
    color: red; }
    .text--color-red:link, .text--color-red:hover, .text--color-red:active, .text--color-red:visited {
      color: red;
      text-decoration: none; }
  .text--extralight {
    font-weight: 200; }
  .text--light {
    font-weight: 300; }
  .text--weight-med, .text--med {
    font-weight: 500; }
  .text--bold {
    font-weight: 700; }
  .text--uppercase {
    text-transform: uppercase; }
  .text--nobreak {
    white-space: nowrap; }
  .text--crossline, .text--crossline:link, .text--crossline:hover, .text--crossline:active, .text--crossline:visited {
    text-decoration: line-through; }
  .text--smallest {
    font-size: 0.8333rem;
    line-height: 1.333rem; }
    @media screen and (min-width: 768px) {
      .text--smallest {
        font-size: 0.625rem;
        line-height: 1rem; } }
  .text--smaller {
    font-size: 1rem;
    line-height: 1.5rem; }
    @media screen and (min-width: 768px) {
      .text--smaller {
        font-size: 0.75rem;
        line-height: 1.125rem; } }
  .text--small {
    font-size: 1.0833rem;
    line-height: 1.583rem; }
    @media screen and (min-width: 768px) {
      .text--small {
        font-size: 0.8125rem;
        line-height: 1.1875rem; } }
  .text--med {
    font-size: 1.25rem;
    line-height: 1.75rem; }
    @media screen and (min-width: 768px) {
      .text--med {
        font-size: 0.9375rem;
        line-height: 1.3125rem; } }
  .text--big {
    font-size: 1.333rem;
    line-height: 1.833rem; }
    @media screen and (min-width: 768px) {
      .text--big {
        font-size: 1rem;
        line-height: 1.375rem; } }
  .text--bigger {
    font-size: 1.5rem;
    line-height: 1.9167rem; }
    @media screen and (min-width: 768px) {
      .text--bigger {
        font-size: 1.125rem;
        line-height: 1.4375rem; } }

.banner__img-wrapper {
  display: block; }
.banner__img {
  width: 100%;
  height: auto;
  filter: brightness(95%); }

.promo-box__content {
  display: block; }
.promo-box__img {
  width: 100%;
  height: auto; }

.form__btn {
  background-color: #666465;
  border: 1px solid #666465;
  padding: 8px 16px;
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 1.167rem;
  font-weight: 500;
  transition: all .25s;
  cursor: pointer;
  width: 100%;
  margin-top: 1.333rem; }
  @media screen and (min-width: 768px) {
    .form__btn {
      margin-top: 0;
      font-size: 0.875rem;
      width: auto; } }
  .form__btn:hover {
    background-color: transparent;
    color: #666465; }
.form__input {
  background-color: #fff;
  padding: 10px 16px;
  border: 1px solid #666465;
  transition: all .25s;
  font-family: "Fira Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #696b79;
  flex-grow: 1;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .form__input {
      width: auto; } }
  .form__input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form__input::placeholder {
    color: #696b79; }
@media screen and (min-width: 768px) {
  .form--inline {
    display: flex;
    align-items: stretch;
    justify-content: center; } }
@media screen and (min-width: 768px) {
  .form--inline .form__input {
    margin-right: 1.333rem; } }
@media screen and (min-width: 768px) {
  .form--inline .form__btn + .form__btn {
    margin-left: 1rem; } }

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.667rem 0; }
  @media screen and (min-width: 768px) {
    .menu {
      padding: 0;
      align-items: stretch; } }
  @media screen and (min-width: 768px) {
    .menu__main, .menu__actions {
      width: 50%; } }
  .menu__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; }
    @media screen and (min-width: 768px) {
      .menu__main {
        justify-content: flex-start;
        flex-grow: 0; } }
  .menu__nav {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: calc(100vh - 56px);
    width: 60vw;
    pointer-events: none; }
    @media screen and (min-width: 768px) {
      .menu__nav {
        position: static;
        transform: none;
        height: auto;
        width: auto;
        pointer-events: all; } }
    .menu__nav:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.75);
      opacity: 0;
      transition: all .25s; }
      @media screen and (min-width: 768px) {
        .menu__nav:before {
          display: none; } }
    .menu__nav-content {
      position: relative;
      z-index: 2;
      background-color: #fff;
      height: 100%;
      width: 100%;
      padding: 1rem 0;
      overflow-y: auto;
      transform: translateX(-100%);
      transition: all .25s; }
      @media screen and (min-width: 768px) {
        .menu__nav-content {
          padding: 0;
          transform: none;
          overflow: visible; } }
      .menu__nav-content > *:not(.menu__list) {
        padding-left: 1.667rem;
        padding-right: 1.667rem; }
    .menu__nav--active {
      pointer-events: all; }
      .menu__nav--active:before {
        opacity: 1; }
      .menu__nav--active .menu__nav-content {
        transform: none; }
  .menu__btn {
    cursor: pointer;
    font-size: 1.75rem;
    color: #696b79; }
    @media screen and (min-width: 768px) {
      .menu__btn {
        display: none; } }
    .menu__btn:hover {
      color: #282c3f; }
  .menu__logo {
    display: block;
    max-width: 154px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 768px) {
      .menu__logo {
        position: static;
        transform: none;
        margin-right: 1.875rem; } }
    .menu__logo-img {
      width: 100%;
      height: auto; }
  @media screen and (min-width: 768px) {
    .menu__list {
      display: flex;
      align-items: center;
      justify-content: flex-start; } }
  .menu__list-item {
    cursor: pointer;
    position: relative;
    padding: 1rem 1.667rem;
    border-bottom: 1px solid #e9e9ed;
    border-top: 1px solid #e9e9ed; }
    @media screen and (min-width: 768px) {
      .menu__list-item {
        cursor: initial;
        padding: 0;
        border: 0; } }
    .menu__list-item + .menu__list-item {
      border-top: 0; }
      @media screen and (min-width: 768px) {
        .menu__list-item + .menu__list-item {
          border-top: 0;
          margin-left: 1.875rem; } }
  .menu__list-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
    transition: all .25s; }
    .menu__list-link:link, .menu__list-link:hover, .menu__list-link:active, .menu__list-link:visited {
      color: #282c3f;
      text-decoration: none; }
    @media screen and (min-width: 768px) {
      .menu__list-link {
        display: inline-block;
        pointer-events: all;
        padding: 1.25rem 0; }
        .menu__list-link:link, .menu__list-link:hover, .menu__list-link:active, .menu__list-link:visited {
          color: #999;
          text-decoration: none; } }
    .menu__list-link:hover {
      color: #999; }
      @media screen and (min-width: 768px) {
        .menu__list-link:hover {
          color: #db8800;
          text-decoration: underline; } }
    .menu__list-link + .menu__list-link {
      margin-top: 1.333rem; }
      @media screen and (min-width: 768px) {
        .menu__list-link + .menu__list-link {
          margin-top: 0; } }
    .menu__list-link__icon {
      color: #999;
      font-size: inherit;
      opacity: .3; }
      @media screen and (min-width: 768px) {
        .menu__list-link__icon {
          display: none; } }
    .menu__list-link--clickable {
      pointer-events: all; }
  .menu__actions {
    width: 27%; }
    @media screen and (min-width: 768px) {
      .menu__actions {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1; } }
    @media screen and (min-width: 768px) {
      .menu__actions-item:not(:last-child) {
        border-right: 2px solid #e9e9ed;
        padding-right: 1.333rem; } }
  .menu__searchbar-trigger {
    cursor: pointer;
    height: 1.667rem;
    width: auto;
    margin-right: 1.333rem; }
    @media screen and (min-width: 768px) {
      .menu__searchbar-trigger {
        display: none; } }
  .menu__searchbar {
    position: absolute;
    z-index: 2;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 100%;
    display: none; }
    @media screen and (min-width: 768px) {
      .menu__searchbar {
        display: block !important;
        position: static;
        transform: none;
        width: 60%;
        max-width: 246px; } }

.table {
  width: 100%;
  border-collapse: collapse; }
  .table__cell {
    padding: 8px;
    text-align: left; }
    .table__cell--center {
      text-align: center; }
  .table__row + .table__row .table__cell {
    border-top: 1px solid #e9e9ed; }

.filters__group + .filters__group {
  border-top: 1px solid #e9e9ed; }
.filters__item {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .filters__item + .filters__item {
    margin-top: 5px; }
.filters__checkbox {
  margin-right: 5px; }

.footer {
  background-color: rgba(245, 248, 250, 0.59); }
  .footer__nav {
    padding: 10px 0 9.167rem 0; }
    @media screen and (min-width: 768px) {
      .footer__nav {
        padding: 10px 0 6.875rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .footer__column {
      width: 20%; } }
  .footer__column + .footer__column {
    margin-top: 2.5rem; }
    @media screen and (min-width: 768px) {
      .footer__column + .footer__column {
        margin-top: 0;
        margin-left: 1.875rem; } }
  @media screen and (min-width: 768px) {
    .footer__column:nth-last-child(2) {
      width: 17%; } }
  @media screen and (min-width: 768px) {
    .footer__column:last-child {
      width: 35%; } }
  .footer__column-title {
    margin-bottom: 10px; }
  .footer__menu-item + .footer__menu-item {
    margin-top: 10px; }
  .footer__menu-link {
    display: block;
    width: 100%;
    height: auto; }
    .footer__menu-link:hover {
      color: #282c3f; }
  .footer__menu--inline {
    display: inline-flex;
    align-items: center;
    justify-content: space-between; }
    .footer__menu--inline .footer__menu-item {
      flex-grow: 1;
      flex-basis: 0; }
      .footer__menu--inline .footer__menu-item + .footer__menu-item {
        margin-top: 0;
        margin-left: 3px; }
  .footer__img {
    display: block; }
  .footer__subscribe {
    border-top: 1px solid #e9e9ed; }
    @media screen and (min-width: 768px) {
      .footer__subscribe {
        display: flex;
        align-items: flex-start;
        justify-content: space-between; } }
    @media screen and (min-width: 768px) {
      .footer__subscribe-copy, .footer__subscribe-form {
        width: 50%; } }
    .footer__subscribe-form {
      margin-top: 1.333rem; }
      @media screen and (min-width: 768px) {
        .footer__subscribe-form {
          margin-top: 0;
          margin-left: 1.875rem; } }
  .footer__searches-header__text-wrapper {
    position: relative; }
  .footer__searches-header__text {
    background-color: #f9fbfc; }
    @media screen and (min-width: 768px) {
      .footer__searches-header__text {
        width: 25%; } }
    @media screen and (min-width: 1200px) {
      .footer__searches-header__text {
        width: 22%; } }
    .footer__searches-header__text:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0.5rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e9e9ed; }
    .footer__searches-header__text span {
      display: inline-block;
      position: relative;
      z-index: 2;
      background-color: #f9fbfc;
      padding-right: 1rem; }
  .footer__searches-item:hover {
    color: #282c3f; }
  .footer__searches-item + .footer__searches-item:before {
    content: "|";
    margin: 0 5px 0 2px;
    color: #282c3f; }
  @media screen and (min-width: 768px) {
    .footer__copyright {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-width: 768px) {
    .footer__copyright > * {
      width: 33.33%; } }
  .footer__copyright > * + * {
    margin-top: 2.5rem; }
    @media screen and (min-width: 768px) {
      .footer__copyright > * + * {
        margin-top: 0; } }
  @media screen and (min-width: 768px) {
    .footer__copyright > *:last-child {
      text-align: right; } }
  @media screen and (min-width: 768px) {
    .footer__copyright > *:nth-child(2) {
      text-align: center; } }

@media screen and (min-width: 768px) {
  .section-promos__group {
    display: flex;
    align-items: stretch;
    justify-content: space-between; } }
.section-promos__group + .section-promos__group {
  margin-top: 10px; }
  @media screen and (min-width: 768px) {
    .section-promos__group + .section-promos__group {
      margin-top: 7px; } }
.section-promos__box {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .section-promos__box {
      width: 33.33%; } }
  .section-promos__box + .section-promos__box {
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .section-promos__box + .section-promos__box {
        margin-left: 10px;
        margin-top: 0; } }

.section-intro__header {
  border-top: 2px solid #e9e9ed; }
  .section-intro__header-text-wrapper {
    position: relative; }
  .section-intro__header-text {
    background-color: #fff; }
    @media screen and (min-width: 768px) {
      .section-intro__header-text {
        width: 25%; } }
    @media screen and (min-width: 1200px) {
      .section-intro__header-text {
        width: 22%; } }
    .section-intro__header-text:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0.5rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e9e9ed; }
.section-intro__content-text {
  text-align: justify; }

.section-product {
  min-height: 600px; }

.section-product article {
  display: none; }
